# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
# *.so

# OSX useful to ignore
*.DS_Store
.AppleDouble
.LSOverride

# Distribution / packaging
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

# Sphinx documentation
docs/_build/
doc/_build/

*.zip
# *.mat   # we might want other .mat files for tests
# *.m     # and we want .m files for generating test data
*.p

# Editor temporary/working/backup files #
.#*
[#]*#
*~
*$
*.bak

# Everything on the data dir
/data/

